/* :root {
    --md-primary-fg-color:        #161616;
    --md-primary-fg-color--light: #161616;
    --md-primary-fg-color--dark:  #161616;
    --md-accent-fg-color:         #FF0000;
    --md-accent-fg-color--light:  #FF0000;
    --md-accent-fg-color--dark:   #FF0000;
  } */

[data-md-color-scheme="finn-light"] {
    --md-primary-fg-color:        #161616;
    --md-accent-fg-color:         #FF0000;
}

[data-md-color-scheme="finn-dark"] {
    --md-primary-fg-color:        #161616;
    --md-accent-fg-color:         #FF0000;
}